/* Set a generalrule for border and font */
*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body{
    margin: 0;
    width: 100%;
    background-color: #1d2828;
}

.container{
    width: 960px;
    margin: auto;
    background-image: url(images/new.png); /* underlying background for the entire page */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.container header{
    display: flex;
    background-image: url(images/blues.png);
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.container header .logo{
    display: flex;
    width: 25%;
    height: 60px;
    justify-content: space-around;
}
 /* this adjust image logo to take only 30% 
 of available space in the box 
 allowing room for text to flex */
.container header .logo section{
    width: 30%;
    height: 10px;
}
/* remaining space allocated to text */
.container header .logo p{
    width: 70%;
    height: 100px;
    font-size: 25px;
    margin: 10px auto;
    color: white;
}

/* space allocation inside box */
.container header nav{
    width: 60%;
    height: 60px;
}

.container header nav ul{
    display: flex;
    width: 100%;
    height: 60px;
    list-style-type: none;
    justify-content: space-around;
}

.container header nav ul a{
    font-size: 20px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.container header nav ul a:hover{
    background-color: white;
    color: blue;
}

.container .banner{
    width: 100%;
    display: flex;
    height: 400px;
    background-image: url(images/Screenshot\ 2023-09-04\ 160622.png);
}

.container .banner .hero{
    width: 50%;
    height: 200px;
    font-size: 20px;
}

.container .banner .hero h2{
    color: red;
    text-align: center;
}

.container .banner .hero p{
    color: white;
}

.container .main{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: space-around;
}

.container .main .main-content{
    width: 70%;
    min-height: 100%;
    background-image: url(images/use.png);
    background-size: cover;
}

.container .main .main-content ul{
    display: flex;
    list-style-type: none;
}

.container .main .main-content ul a{
    margin: 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.container .main .main-content ul a:hover{
    background-color: white;
    color: blue;
}

.container .main .main-content h2{
    margin: 0 auto;
    width: 30%;
    font-size: 50px;
    color: white;
}

.container .main .main-content p img{
    margin: 0 65px;
    width: 80%;
}

.container .main aside{
    width: 30%;
    min-height: 100%;
    background-image: url(images/erasebg.org-bgchanged.jpg);
    background-size: cover;
}

.container .main aside h2{
    margin: 0 auto;
    width: 50%;
}

.container .main aside ul{
    margin: 20px auto;
    width: 100%;
    line-height: 2;
    color: rgb(105, 105, 40);
}

.container .footer-widget{
    display: flex;
    width: 100%;
    min-height: 450px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.container .footer-widget .widget{
    flex-basis: 30%;
    height: 200px;
}

.container .footer-widget h5{
    margin: 0 auto;
    width: 50%;
    font-size: 25px;
    color: white;
    border-radius: 5px;
}

.container .footer-widget ul{
    margin: 15px auto;
    width: 80%;
    padding: 0 30px;
    font-size: 18px;
    color: white;
    line-height: 2;
    border: solid white;
    border-radius: 10px;
}

.container .footer-widget p{
    margin: 15px auto;
    width: 80%;
    padding: 0 30px;
    font-size: 18px;
    color: white;
    line-height: 2;
    border: solid white;
    border-radius: 10px;
}

.container footer{
    text-align: center;
    color: white;
}